.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(25%);
}

.column-two-thirds {
  flex-basis: calc(2 * (100% / 3));
}
