#root {
  max-width: 1280px;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  width: 1300px;
}

.header-row {
  width: 100%;
  display: flex;
  background-color: #888;
}

.header-row a {
  padding: 1rem;
  color: white;
}

.page-container {
  background-color: #fefcff;
}

.catalogRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.itemWrapper {
  flex-basis: 30%;
  border: 2px solid rgb(189, 189, 189);
  height: 450px;
  padding: 1rem;
}

.itemWrapper img {
  max-width: 300px;
  max-height: 200px;
  align-self: center;
}

.itemWrapper h4 {
  color: black;
}

.itemWrapper h5,
.product-container h3 {
  color: rgb(99, 99, 99);
}

.itemWrapper p {
  color: black;
}

.itemWrapper a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row {
  display: flex;
}

.column-half {
  flex-basis: 50%;
}

.product-container {
  padding: 1rem;
  border: 2px solid rgb(189, 189, 189);
}

.product-container img {
  width: 100%;
}
