body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.outer-div {
  width: 100%;
  height: 100vh;
  position: relative;
}

.sentence-div {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 25%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Fuzzy Bubbles', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

.active {
  border-bottom: solid black;
}

.green {
  color: rgb(28, 209, 28);
}

.red {
  color: red;
  border-bottom: solid red;
}
